<h2>Log in</h2>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>International Telephone Input</title>
    <link rel="stylesheet" href="../assets/intlTelInput.css">
    <link rel="stylesheet" href="../assets/demo.css">
  </head>
  <body>
    
<div id="send-pin">
  <h3>What's your phone number?</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true %>
  </div>
  <div class="field">
    <%#= f.label : %><br />
      <%#= f.text_field :phone_number, id: 'phone', type: 'tel' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", action: :create %>
  </div>
<% end %>
<div id="status-box" class="alert alert-success">
  <p id="status-message">Status: Haven’t done anything yet</p>
</div>

    <!-- Load jQuery from CDN so can run demo immediately -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../assets/intlTelInput.js"></script>
    <script>
      $("#phone").intlTelInput({
        //allowExtensions: true,
        //autoFormat: false,
        //autoHideDialCode: false,
        //autoPlaceholder: false,
        //defaultCountry: "auto",
        // geoIpLookup: function(callback) {
        //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        //nationalMode: false,
        //numberType: "MOBILE",
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        //preferredCountries: ['cn', 'jp'],
        utilsScript: "../assets/utils.js"
      });
    </script>
  </body>
</html>
<%= render "devise/shared/links" %>
